@charset "utf-8";
header{
    height: 80px;
}

header .con{
    width: 1120px;
    height: 80px;
    margin: 0 auto;
}

header .con h1{
    width: 145px;
    height: 80px;
    float: left;
}

header .con ul{
    width: 713px;
    height: 80px;
    float:right;
}

header .con li{
   float: left;
}

header li a{
    display: block;
    text-align: center;
    width: 122px;
    height: 78px;
    line-height: 80px;
    font-size: 20px;
    color: #333333;
    margin: 0 25px 0 0;
}

header li:last-child a{
    text-align: right;
    margin-right: 0;
   
}
header li:first-child a{
    color: #ae9b96;
    border-bottom: 2px solid #866961;
}
header li a:hover{
    color: #ae9b96;
    border-bottom: 2px solid #866961;
}

/* 轮播*/
section  img{
    width: 100%;
    position: relative;
}
section .con{
    width: 670px;
    height: 70px;
    position: absolute;
    top: 180px;
    left: 330px;
}
section .con h1{
    line-height: 38px;
    font-size: 18px;
    color: white;
    text-align: center;
    position: relative;

}
section .con .s1{
    font-size: 35px;
    position: absolute;
    top: -5px;
    left: 285px;
    color: white;
}
section .con h1::after{
    content: "";
    display: block;
    width: 200px;
    height: 1px;
    background: white;
    position: absolute;
    top: 18px;
    right: 97px;
}
section .con h2{
    line-height: 20px;
    font-size: 18px;
    color: white;
    margin-left: 312px;
    position: relative;
}
section  h2 span{ 
    font-size: 28px;
    letter-spacing: 2px;
}
section .con h2:after{
    content: "";
    display: block;
    width: 200px;
    height: 1px;
    background: white;
    position: absolute;
    top: 11px;
    left: -214px;
}


/* 底部 */
footer{
    height: 82px;
    background: #866961;
    /* margin-top: 36px; */
}
footer .con{
    width: 1120px;
    height: 82px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 210px 0 28px;
    background: #866961;
}
footer .con p{
    margin-left: 50px;
    font-size: 14px;
    color: white;
    line-height: 82px;
    float: left;
}
footer .con img{
    float:right;
    margin: 16px 0 0 44px;
}