@charset "utf-8";

#allmap {height: 500px;width:100%;overflow: hidden;}
	#result {width:100%;font-size:12px;}

/* 团队介绍 */
main{
    min-height: 73px;
    
}
main .con{
    width: 1120px;
    margin: 0 auto;
    padding:38px 60px 0;
    box-sizing: border-box;  
    overflow: hidden;
}
main .con .top{
    height: 35px;
    border-bottom: 1px solid #d5d5d5;
}
main .con .lt{
    width: 330px;
    height: 32px; 
    display: flex;
    justify-content: space-between;
    float: left;
}
main .lt p:nth-child(1){
    font-size: 16px;
    color: #414141;
    line-height: 16px;
    margin-left: 12px;
    position: relative;
}
main .lt p:nth-child(1):after{
    content: "";
    display: block;
    width: 2px;
    height: 9px;
    background: #866961;
    position: absolute;
    top: 6px;
    left: -9px;
}
main .lt p:nth-child(2){
    font-size: 12px;
    color: #999999;
}
main .con .rt{
    width: 228px;
    height: 32px; 
    float: right;
    font-size: 14px;
    display: flex;
    justify-content: flex-end;
  
}
main .rt a:nth-child(1){
    color: #333333;
}
main .rt a:last-child{
    color: #333333;
}
main .rt a:nth-child(2){
    color:#a0a0a0;
}

main .con .Team-tu{
    width: 1000px;
    margin-top: 24px;
}

main .con .bottom{
    margin-top: 51px;
    height: 111px;
    display: flex;
    justify-content: space-around;
}
main  .bottom div{
    height: 111px;
    padding-left: 47px;
}
main  .bottom div:first-child{
    background: url(../img/phone.png) no-repeat left top;
}
main  .bottom div:nth-child(2){
    background: url(../img/dingwei.png) no-repeat left top;
}
main  .bottom div:last-child{
    background: url(../img/xin.png) no-repeat left top;
}
main .bottom p:nth-child(1){
    font-size: 20px;
    color: #414141;
    line-height: 19px;
    margin-left: 5px;
    position: relative;
}
main .bottom p:nth-child(1):after{
    content: "";
    display: block;
    width: 2px;
    height: 9px;
    background: #866961;
    position: absolute;
    top: 6px;
    left: -4px;
}
main .bottom p:nth-child(2){
    font-size: 14px;
    color: #999999;
}
main .bottom p:nth-child(3){
    font-size: 14px;
    color: #414141;
    margin-top: 20px;
}
main .bottom p:nth-child(4){
    font-size: 14px;
    color: #999999;
}